In [1]:
import pandas as pd
import numpy as np
users = pd.read_csv(r'C:\Users\adity\Downloads\TakeHomeAssessment\USER_TAKEHOME.csv')
transactions = pd.read_csv(r'C:\Users\adity\Downloads\TakeHomeAssessment\TRANSACTION_TAKEHOME.csv')
products = pd.read_csv(r'C:\Users\adity\Downloads\TakeHomeAssessment\PRODUCTS_TAKEHOME.csv')

In [2]:
print(users.info())
print("\n")
print(transactions.info())
print("\n")
print(products.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            100000 non-null  object
 1   CREATED_DATE  100000 non-null  object
 2   BIRTH_DATE    96325 non-null   object
 3   STATE         95188 non-null   object
 4   LANGUAGE      69492 non-null   object
 5   GENDER        94108 non-null   object
dtypes: object(6)
memory usage: 4.6+ MB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RECEIPT_ID      50000 non-null  object
 1   PURCHASE_DATE   50000 non-null  object
 2   SCAN_DATE       50000 non-null  object
 3   STORE_NAME      50000 non-null  object
 4   USER_ID         50000 non-null  object
 5   BARCODE         44238 non-null  float64
 6   FINAL_QUANTITY  50000 non-null  object
 7   FINAL_SALE      50000 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.1+ MB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845552 entries, 0 to 845551
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CATEGORY_1    845441 non-null  object
 1   CATEGORY_2    844128 non-null  object
 2   CATEGORY_3    784986 non-null  object
 3   CATEGORY_4    67459 non-null   object
 4   MANUFACTURER  619078 non-null  object
 5   BRAND         619080 non-null  object
 6   BARCODE       841527 non-null  float64
dtypes: float64(1), object(6)
memory usage: 45.2+ MB
None

In [3]:
print(users.head())

                         ID               CREATED_DATE  \
0  5ef3b4f17053ab141787697d  2020-06-24 20:17:54.000 Z
1  5ff220d383fcfc12622b96bc  2021-01-03 19:53:55.000 Z
2  6477950aa55bb77a0e27ee10  2023-05-31 18:42:18.000 Z
3  658a306e99b40f103b63ccf8  2023-12-26 01:46:22.000 Z
4  653cf5d6a225ea102b7ecdc2  2023-10-28 11:51:50.000 Z

                  BIRTH_DATE STATE LANGUAGE  GENDER
0  2000-08-11 00:00:00.000 Z    CA   es-419  female
1  2001-09-24 04:00:00.000 Z    PA       en  female
2  1994-10-28 00:00:00.000 Z    FL   es-419  female
3                        NaN    NC       en     NaN
4  1972-03-19 00:00:00.000 Z    PA       en  female

In [4]:
print(transactions.head())

                             RECEIPT_ID PURCHASE_DATE  \
0  0000d256-4041-4a3e-adc4-5623fb6e0c99    2024-08-21
1  0001455d-7a92-4a7b-a1d2-c747af1c8fd3    2024-07-20
2  00017e0a-7851-42fb-bfab-0baa96e23586    2024-08-18
3  000239aa-3478-453d-801e-66a82e39c8af    2024-06-18
4  00026b4c-dfe8-49dd-b026-4c2f0fd5c6a1    2024-07-04

                   SCAN_DATE STORE_NAME                   USER_ID  \
0  2024-08-21 14:19:06.539 Z    WALMART  63b73a7f3d310dceeabd4758
1  2024-07-20 09:50:24.206 Z       ALDI  62c08877baa38d1a1f6c211a
2  2024-08-19 15:38:56.813 Z    WALMART  60842f207ac8b7729e472020
3  2024-06-19 11:03:37.468 Z  FOOD LION  63fcd7cea4f8442c3386b589
4  2024-07-05 15:56:43.549 Z   RANDALLS  6193231ae9b3d75037b0f928

        BARCODE FINAL_QUANTITY FINAL_SALE
0  1.530001e+10           1.00
1           NaN           zero       1.49
2  7.874223e+10           1.00
3  7.833997e+11           zero       3.49
4  4.790050e+10           1.00

In [5]:
print(products.head())

          CATEGORY_1              CATEGORY_2                   CATEGORY_3  \
0  Health & Wellness           Sexual Health  Conductivity Gels & Lotions
1             Snacks           Puffed Snacks         Cheese Curls & Puffs
2  Health & Wellness               Hair Care        Hair Care Accessories
3  Health & Wellness               Oral Care                   Toothpaste
4  Health & Wellness  Medicines & Treatments               Essential Oils

  CATEGORY_4                                       MANUFACTURER  \
0        NaN                                                NaN
1        NaN                                                NaN
2        NaN                           PLACEHOLDER MANUFACTURER
3        NaN                                  COLGATE-PALMOLIVE
4        NaN  MAPLE HOLISTICS AND HONEYDEW PRODUCTS INTERCHA...

             BRAND       BARCODE
0              NaN  7.964944e+11
1              NaN  2.327801e+10
2          ELECSOP  4.618178e+11
3          COLGATE  3.500047e+10
4  MAPLE HOLISTICS  8.068109e+11

In [6]:
 #Checking for missing values
print("Missing values in Users:")
print(users.isnull().sum())

print("\nMissing values in Transactions:")
print(transactions.isnull().sum())

print("\nMissing values in Products:")
print(products.isnull().sum())

Missing values in Users:
ID                  0
CREATED_DATE        0
BIRTH_DATE       3675
STATE            4812
LANGUAGE        30508
GENDER           5892
dtype: int64

Missing values in Transactions:
RECEIPT_ID           0
PURCHASE_DATE        0
SCAN_DATE            0
STORE_NAME           0
USER_ID              0
BARCODE           5762
FINAL_QUANTITY       0
FINAL_SALE           0
dtype: int64

Missing values in Products:
CATEGORY_1         111
CATEGORY_2        1424
CATEGORY_3       60566
CATEGORY_4      778093
MANUFACTURER    226474
BRAND           226472
BARCODE           4025
dtype: int64

### USERS TABLE:

In [7]:
users['BIRTH_DATE'] = pd.to_datetime(users['BIRTH_DATE'], errors='coerce').dt.date
users['CREATED_DATE'] = pd.to_datetime(users['CREATED_DATE'], errors='coerce').dt.date

In [8]:
# Drop rows with missing birth_date
users = users.dropna(subset=['BIRTH_DATE'])


# Remove leading/trailing whitespace in string columns
users['STATE'] = users['STATE'].str.strip()

# Fill missing state with 'Unknown'
users['STATE'] = users['STATE'].fillna('Unknown')

# Fill missing language and gender with 'Unknown'
users['LANGUAGE'] = users['LANGUAGE'].fillna('Unknown')
language_mapping = {
    'en': 'English',
    'es-419': 'Spanish'
}

# Apply the mapping to the LANGUAGE column
users['LANGUAGE'] = users['LANGUAGE'].replace(language_mapping)
print(users['LANGUAGE'].unique())  # Check unique values in the LANGUAGE column

['Spanish' 'English' 'Unknown']

In [9]:
# Define the mapping dictionary
gender_mapping = {
    "female": "Female",
    "male": "Male",
    "non_binary": "Non-Binary",
    "Non-Binary": "Non-Binary",
    "My gender isn't listed": "Unknown",
    "not_listed": "Unknown",
    "not_specified": "Prefer Not to Say",
    "Prefer not to say": "Prefer Not to Say",
    "prefer_not_to_say": "Prefer Not to Say",
    "transgender": "Transgender",
    "unknown": "Unknown",
    None: "Unknown"
}

# Map GENDER column using the dictionary
users['GENDER'] = users['GENDER'].replace(gender_mapping)

print(users.isnull().sum())
print("\n")
print(users)

ID              0
CREATED_DATE    0
BIRTH_DATE      0
STATE           0
LANGUAGE        0
GENDER          0
dtype: int64


                             ID CREATED_DATE  BIRTH_DATE STATE LANGUAGE  \
0      5ef3b4f17053ab141787697d   2020-06-24  2000-08-11    CA  Spanish
1      5ff220d383fcfc12622b96bc   2021-01-03  2001-09-24    PA  English
2      6477950aa55bb77a0e27ee10   2023-05-31  1994-10-28    FL  Spanish
4      653cf5d6a225ea102b7ecdc2   2023-10-28  1972-03-19    PA  English
5      5fe2b6f3ad416a1265c4ab68   2020-12-23  1999-10-27    NY  English
...                         ...          ...         ...   ...      ...
99995  61fc06d41febf771966da8fa   2022-02-03  1992-03-16    CA  English
99996  6391e7ef90ad5449ec5f782d   2022-12-08  1993-09-23    MO  English
99997  637d5efdd6f2a49c49934dcb   2022-11-22  1983-04-19    RI  English
99998  5f0de23b05d8a6147dc0cafa   2020-07-14  1995-06-09    DE  English
99999  5e7ab436905e9512ff44abc8   2020-03-25  1995-12-15    VA  Unknown

       GENDER
0      Female
1      Female
2      Female
4      Female
5      Female
...       ...
99995  Female
99996  Female
99997  Female
99998  Female
99999  Female

[96325 rows x 6 columns]

### TRANSACTIONS:

In [10]:
# Calculate age
users['AGE'] = pd.to_datetime('today').year - pd.to_datetime(users['BIRTH_DATE']).dt.year

In [11]:
# Convert PURCHASE_DATE and SCAN_DATE to datetime
transactions['PURCHASE_DATE'] = pd.to_datetime(transactions['PURCHASE_DATE'], errors='coerce')
transactions['SCAN_DATE'] = pd.to_datetime(transactions['SCAN_DATE'], errors='coerce')

# Localize to UTC for timezone-naive columns
transactions['PURCHASE_DATE'] = transactions['PURCHASE_DATE'].dt.tz_localize('UTC')
transactions['SCAN_DATE'] = transactions['SCAN_DATE'].dt.tz_convert('UTC')

# Compare the dates after ensuring they are in UTC
invalid_dates = transactions[transactions['PURCHASE_DATE'] > transactions['SCAN_DATE']]
print("Invalid date relationships: ", len(invalid_dates))

# Drop rows with invalid dates

transactions = transactions[transactions['PURCHASE_DATE'] <= transactions['SCAN_DATE']]

# Replace "zero" with 0
transactions['FINAL_QUANTITY'] = transactions['FINAL_QUANTITY'].replace("zero", 0)

# Clean FINAL_SALE column, replacing empty strings with 0
transactions['FINAL_SALE'] = pd.to_numeric(transactions['FINAL_SALE'], errors='coerce').fillna(0)

transactions['FINAL_SALE'] = pd.to_numeric(transactions['FINAL_SALE'], errors='coerce')
transactions['FINAL_QUANTITY'] = pd.to_numeric(transactions['FINAL_QUANTITY'], errors='coerce')

# Print cleaned DataFrame
print("\n")
print(transactions.isnull().sum())
print("\n")
print(transactions)

#------------
# Ensure BARCODE column is processed as integers
transactions['BARCODE'] = transactions['BARCODE'].apply(
    lambda x: int(float(x)) if pd.notna(x) else x
)

# Convert the column to integers to ensure no scientific notation
transactions['BARCODE'] = transactions['BARCODE'].astype('Int64')  # Keeps NaN values as compatible type

# Check the result
print(transactions['BARCODE'])
#--------------

# Identify rows with invalid (empty or NaN) BARCODE
invalid_barcodes = transactions[(transactions['BARCODE'] == '') | (transactions['BARCODE'].isna())]

# Display rows with invalid BARCODE for verification
print("Rows with invalid BARCODE:")
print(invalid_barcodes)

# Remove rows with invalid BARCODE
transactions = transactions[(transactions['BARCODE'] != '') & (transactions['BARCODE'].notna())]

# Confirm remaining rows
print(f"Rows remaining after cleaning BARCODE: {transactions.shape[0]}")

Invalid date relationships:  94


RECEIPT_ID           0
PURCHASE_DATE        0
SCAN_DATE            0
STORE_NAME           0
USER_ID              0
BARCODE           5762
FINAL_QUANTITY       0
FINAL_SALE           0
dtype: int64


                                 RECEIPT_ID             PURCHASE_DATE  \
0      0000d256-4041-4a3e-adc4-5623fb6e0c99 2024-08-21 00:00:00+00:00
1      0001455d-7a92-4a7b-a1d2-c747af1c8fd3 2024-07-20 00:00:00+00:00
2      00017e0a-7851-42fb-bfab-0baa96e23586 2024-08-18 00:00:00+00:00
3      000239aa-3478-453d-801e-66a82e39c8af 2024-06-18 00:00:00+00:00
4      00026b4c-dfe8-49dd-b026-4c2f0fd5c6a1 2024-07-04 00:00:00+00:00
...                                     ...                       ...
49995  b5cd61a9-8033-4913-a5c4-fb3f65e3a321 2024-08-21 00:00:00+00:00
49996  e1b2f634-c9ad-4152-b662-4b22efc25862 2024-08-11 00:00:00+00:00
49997  b07ef8dd-e444-40a2-819b-f74a3e5f1ae7 2024-07-11 00:00:00+00:00
49998  42475141-bef4-4df2-aa37-72577e2512bb 2024-06-18 00:00:00+00:00
49999  3a179c4e-46f2-4126-b3d2-3514afc23a3e 2024-08-07 00:00:00+00:00

                             SCAN_DATE     STORE_NAME  \
0     2024-08-21 14:19:06.539000+00:00        WALMART
1     2024-07-20 09:50:24.206000+00:00           ALDI
2     2024-08-19 15:38:56.813000+00:00        WALMART
3     2024-06-19 11:03:37.468000+00:00      FOOD LION
4     2024-07-05 15:56:43.549000+00:00       RANDALLS
...                                ...            ...
49995 2024-08-31 14:13:08.634000+00:00         TARGET
49996 2024-08-11 18:15:56.736000+00:00    STOP & SHOP
49997 2024-07-11 08:03:25.816000+00:00        WALMART
49998 2024-06-18 19:57:32.211000+00:00  MARKET BASKET
49999 2024-08-07 15:30:07.911000+00:00        WALMART

                        USER_ID       BARCODE  FINAL_QUANTITY  FINAL_SALE
0      63b73a7f3d310dceeabd4758  1.530001e+10             1.0        0.00
1      62c08877baa38d1a1f6c211a           NaN             0.0        1.49
2      60842f207ac8b7729e472020  7.874223e+10             1.0        0.00
3      63fcd7cea4f8442c3386b589  7.833997e+11             0.0        3.49
4      6193231ae9b3d75037b0f928  4.790050e+10             1.0        0.00
...                         ...           ...             ...         ...
49995  6154bcf098f885648de2f299  8.523911e+10             2.0        1.18
49996  60aa809f188b926b2244c974  4.610040e+10             1.0        2.00
49997  60bd26e83dc3b13a15c5f4e7  6.466300e+11             1.0       20.96
49998  6169912fac47744405af62b7  4.180050e+10             1.0        3.00
49999  64e94d64ca929250373ef6e1  3.076607e+11             1.0        5.48

[49906 rows x 8 columns]
0         15300014978
1                <NA>
2         78742229751
3        783399746536
4         47900501183
             ...
49995     85239110669
49996     46100400555
49997    646630019670
49998     41800501519
49999    307660745853
Name: BARCODE, Length: 49906, dtype: Int64
Rows with invalid BARCODE:
                                 RECEIPT_ID             PURCHASE_DATE  \
1      0001455d-7a92-4a7b-a1d2-c747af1c8fd3 2024-07-20 00:00:00+00:00
9      0010d87d-1ad2-4e5e-9a25-cec736919d15 2024-08-04 00:00:00+00:00
17     002ee298-d907-40ca-921a-556468571f76 2024-07-15 00:00:00+00:00
18     00326689-e763-4b27-9ad5-202fc93609e2 2024-06-19 00:00:00+00:00
60     00a9e033-e49d-45d6-990e-90631f82775e 2024-09-05 00:00:00+00:00
...                                     ...                       ...
49959  45575fc2-6ba3-4913-bdf2-05814e4309e0 2024-06-20 00:00:00+00:00
49960  7a36db68-c8a7-4b29-b1c2-4cb51ad9f42a 2024-08-29 00:00:00+00:00
49962  d7cf611f-f07d-4e3d-9a5d-aacc0d56a4a7 2024-07-21 00:00:00+00:00
49963  e79c254d-1bf0-4471-8e79-4f52c6b81481 2024-08-24 00:00:00+00:00
49994  6cdf3c1a-78b3-4fb0-85fd-52e2f5b4731c 2024-06-26 00:00:00+00:00

                             SCAN_DATE              STORE_NAME  \
1     2024-07-20 09:50:24.206000+00:00                    ALDI
9     2024-08-04 18:01:47.787000+00:00                    ALDI
17    2024-07-16 16:42:19.211000+00:00                    ALDI
18    2024-06-20 08:59:38.397000+00:00                    ALDI
60    2024-09-05 11:10:54.831000+00:00                    ALDI
...                                ...                     ...
49959 2024-06-20 11:56:29.486000+00:00     SUPERMERCADOS ECONO
49960 2024-08-29 14:39:07.868000+00:00  DOLLAR TREE STORES INC
49962 2024-07-21 10:31:52.403000+00:00                    ALDI
49963 2024-08-26 15:21:15.492000+00:00  DOLLAR TREE STORES INC
49994 2024-07-01 11:00:39.769000+00:00           HARRIS TEETER

                        USER_ID  BARCODE  FINAL_QUANTITY  FINAL_SALE
1      62c08877baa38d1a1f6c211a     <NA>             0.0        1.49
9      66686fc2e04f743a096ea808     <NA>             0.0        2.29
17     63de64b1dcb50fbd3084f142     <NA>             0.0        2.49
18     6158642597d737581b5d30ee     <NA>             1.0        0.00
60     5d4f08e962fb4a4a58574e7f     <NA>             1.0        0.00
...                         ...      ...             ...         ...
49959  618c25125e388d4f513334b9     <NA>             1.0        1.67
49960  665e2f887c0469953bfbdb5b     <NA>             1.0        1.25
49962  61a8f120f6305b3dade12c15     <NA>             1.0        1.29
49963  62f6799b30b23c82198fa01c     <NA>             1.0        1.25
49994  5de7ec93ca63cc17893cdd14     <NA>             1.0        3.00

[5762 rows x 8 columns]
Rows remaining after cleaning BARCODE: 44144

In [12]:
transactions['USER_ID'] = transactions['USER_ID'].str.strip()
users['ID'] = users['ID'].str.strip()

# Count matching USER_IDs
matching_count = transactions['USER_ID'].isin(users['ID']).sum()

# Count non-matching USER_IDs
non_matching_count = len(transactions) - matching_count

print(f"Number of matching USER_IDs: {matching_count}")
print(f"Number of non-matching USER_IDs: {non_matching_count}")


# # Assign 'Unknown User' for non-matching USER_IDs
# transactions['USER_ID'] = transactions['USER_ID'].apply(
#     lambda x: x if x in users['ID'].values else 'unknown_user'
# )

# # Analyze transactions with 'Unknown User'
# unknown_user_transactions = transactions[transactions['USER_ID'] == 'unknown_user']
# print(f"Transactions with 'unknown_user': {len(unknown_user_transactions)}")

Number of matching USER_IDs: 236
Number of non-matching USER_IDs: 43908

### PRODUCTS TABLE:

In [13]:
products['CATEGORY_1'] = products['CATEGORY_1'].fillna('Unknown')
products['CATEGORY_2'] = products['CATEGORY_2'].fillna('Unknown')

# Drop category_3 and category_4
products = products.drop(columns=['CATEGORY_3', 'CATEGORY_4'])

In [14]:
print(products['BARCODE'])
# Ensure BARCODE column is processed as integers
products['BARCODE'] = products['BARCODE'].apply(
    lambda x: int(float(x)) if pd.notna(x) else x
)

# Convert the column to integers to ensure no scientific notation
products['BARCODE'] = products['BARCODE'].astype('Int64')

# Check the result
print(products['BARCODE'])

0         7.964944e+11
1         2.327801e+10
2         4.618178e+11
3         3.500047e+10
4         8.068109e+11
              ...
845547    7.223016e+11
845548    4.182082e+10
845549    1.001672e+11
845550    7.539076e+10
845551    7.967933e+11
Name: BARCODE, Length: 845552, dtype: float64
0         796494407820
1          23278011028
2         461817824225
3          35000466815
4         806810850459
              ...
845547    722301569399
845548     41820818468
845549    100167154940
845550     75390755960
845551    796793337781
Name: BARCODE, Length: 845552, dtype: Int64

In [15]:
print(users.info())
print("\n")
print(transactions.info())
print("\n")
print(products.info())

<class 'pandas.core.frame.DataFrame'>
Index: 96325 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            96325 non-null  object
 1   CREATED_DATE  96325 non-null  object
 2   BIRTH_DATE    96325 non-null  object
 3   STATE         96325 non-null  object
 4   LANGUAGE      96325 non-null  object
 5   GENDER        96325 non-null  object
 6   AGE           96325 non-null  int32
dtypes: int32(1), object(6)
memory usage: 5.5+ MB
None


<class 'pandas.core.frame.DataFrame'>
Index: 44144 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RECEIPT_ID      44144 non-null  object
 1   PURCHASE_DATE   44144 non-null  datetime64[ns, UTC]
 2   SCAN_DATE       44144 non-null  datetime64[ns, UTC]
 3   STORE_NAME      44144 non-null  object
 4   USER_ID         44144 non-null  object
 5   BARCODE         44144 non-null  Int64
 6   FINAL_QUANTITY  44144 non-null  float64
 7   FINAL_SALE      44144 non-null  float64
dtypes: Int64(1), datetime64[ns, UTC](2), float64(2), object(3)
memory usage: 3.1+ MB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845552 entries, 0 to 845551
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CATEGORY_1    845552 non-null  object
 1   CATEGORY_2    845552 non-null  object
 2   MANUFACTURER  619078 non-null  object
 3   BRAND         619080 non-null  object
 4   BARCODE       841527 non-null  Int64
dtypes: Int64(1), object(4)
memory usage: 33.1+ MB
None

##

In [16]:
print(transactions)

                                 RECEIPT_ID             PURCHASE_DATE  \
0      0000d256-4041-4a3e-adc4-5623fb6e0c99 2024-08-21 00:00:00+00:00
2      00017e0a-7851-42fb-bfab-0baa96e23586 2024-08-18 00:00:00+00:00
3      000239aa-3478-453d-801e-66a82e39c8af 2024-06-18 00:00:00+00:00
4      00026b4c-dfe8-49dd-b026-4c2f0fd5c6a1 2024-07-04 00:00:00+00:00
5      0002d8cd-1701-4cdd-a524-b70402e2dbc0 2024-06-24 00:00:00+00:00
...                                     ...                       ...
49995  b5cd61a9-8033-4913-a5c4-fb3f65e3a321 2024-08-21 00:00:00+00:00
49996  e1b2f634-c9ad-4152-b662-4b22efc25862 2024-08-11 00:00:00+00:00
49997  b07ef8dd-e444-40a2-819b-f74a3e5f1ae7 2024-07-11 00:00:00+00:00
49998  42475141-bef4-4df2-aa37-72577e2512bb 2024-06-18 00:00:00+00:00
49999  3a179c4e-46f2-4126-b3d2-3514afc23a3e 2024-08-07 00:00:00+00:00

                             SCAN_DATE     STORE_NAME  \
0     2024-08-21 14:19:06.539000+00:00        WALMART
2     2024-08-19 15:38:56.813000+00:00        WALMART
3     2024-06-19 11:03:37.468000+00:00      FOOD LION
4     2024-07-05 15:56:43.549000+00:00       RANDALLS
5     2024-06-24 19:44:54.247000+00:00        WALMART
...                                ...            ...
49995 2024-08-31 14:13:08.634000+00:00         TARGET
49996 2024-08-11 18:15:56.736000+00:00    STOP & SHOP
49997 2024-07-11 08:03:25.816000+00:00        WALMART
49998 2024-06-18 19:57:32.211000+00:00  MARKET BASKET
49999 2024-08-07 15:30:07.911000+00:00        WALMART

                        USER_ID       BARCODE  FINAL_QUANTITY  FINAL_SALE
0      63b73a7f3d310dceeabd4758   15300014978             1.0        0.00
2      60842f207ac8b7729e472020   78742229751             1.0        0.00
3      63fcd7cea4f8442c3386b589  783399746536             0.0        3.49
4      6193231ae9b3d75037b0f928   47900501183             1.0        0.00
5      5dcc6c510040a012b8e76924  681131411295             0.0        1.46
...                         ...           ...             ...         ...
49995  6154bcf098f885648de2f299   85239110669             2.0        1.18
49996  60aa809f188b926b2244c974   46100400555             1.0        2.00
49997  60bd26e83dc3b13a15c5f4e7  646630019670             1.0       20.96
49998  6169912fac47744405af62b7   41800501519             1.0        3.00
49999  64e94d64ca929250373ef6e1  307660745853             1.0        5.48

[44144 rows x 8 columns]

In [17]:
# Check for invalid user_ids
invalid_user_ids = transactions[~transactions['USER_ID'].isin(users['ID'])]
print("Invalid user_ids in Transactions:", len(invalid_user_ids))

Invalid user_ids in Transactions: 43908

In [18]:
# Check for invalid barcodes
invalid_barcodes = transactions[~transactions['BARCODE'].isin(products['BARCODE'])]
print("Invalid barcodes in Transactions:", len(invalid_barcodes))

Invalid barcodes in Transactions: 19382

##

In [19]:
#-----------
# Aggregate total spend from transactions
user_sales = transactions.groupby('USER_ID').agg({
    'FINAL_SALE': 'sum', 
    'FINAL_QUANTITY': 'sum'
}).reset_index()
user_sales.rename(columns={'FINAL_SALE': 'TOTAL_SPEND', 'FINAL_QUANTITY': 'TOTAL_QUANTITY'}, inplace=True)

# Perform an outer join
new_users = pd.merge(users, user_sales, left_on='ID', right_on='USER_ID', how='outer')

# Fill missing 'ID' with 'USER_ID'
new_users['ID'] = new_users['ID'].fillna(new_users['USER_ID'])

# Drop the redundant USER_ID column
print(new_users.info())
new_users.drop(columns=['USER_ID'], inplace=True)
print(new_users.info())
# Fill missing TOTAL_SPEND with 0
new_users['TOTAL_SPEND'] = new_users['TOTAL_SPEND'].fillna(0).round(2)


# Display the updated DataFrame
print(new_users.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112278 entries, 0 to 112277
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              112278 non-null  object
 1   CREATED_DATE    96325 non-null   object
 2   BIRTH_DATE      96325 non-null   object
 3   STATE           96325 non-null   object
 4   LANGUAGE        96325 non-null   object
 5   GENDER          96325 non-null   object
 6   AGE             96325 non-null   float64
 7   USER_ID         16037 non-null   object
 8   TOTAL_SPEND     16037 non-null   float64
 9   TOTAL_QUANTITY  16037 non-null   float64
dtypes: float64(3), object(7)
memory usage: 8.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112278 entries, 0 to 112277
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              112278 non-null  object
 1   CREATED_DATE    96325 non-null   object
 2   BIRTH_DATE      96325 non-null   object
 3   STATE           96325 non-null   object
 4   LANGUAGE        96325 non-null   object
 5   GENDER          96325 non-null   object
 6   AGE             96325 non-null   float64
 7   TOTAL_SPEND     16037 non-null   float64
 8   TOTAL_QUANTITY  16037 non-null   float64
dtypes: float64(3), object(6)
memory usage: 7.7+ MB
None
                         ID CREATED_DATE  BIRTH_DATE STATE LANGUAGE  GENDER  \
0  5ef3b4f17053ab141787697d   2020-06-24  2000-08-11    CA  Spanish  Female
1  5ff220d383fcfc12622b96bc   2021-01-03  2001-09-24    PA  English  Female
2  6477950aa55bb77a0e27ee10   2023-05-31  1994-10-28    FL  Spanish  Female
3  653cf5d6a225ea102b7ecdc2   2023-10-28  1972-03-19    PA  English  Female
4  5fe2b6f3ad416a1265c4ab68   2020-12-23  1999-10-27    NY  English  Female

    AGE  TOTAL_SPEND  TOTAL_QUANTITY
0  25.0          0.0             NaN
1  24.0          0.0             NaN
2  31.0          0.0             NaN
3  53.0          0.0             NaN
4  26.0          0.0             NaN

In [20]:
users_spend = pd.merge(user_sales, users, left_on='USER_ID', right_on='ID', how='left')

users_spend.drop(columns=['USER_ID'], inplace=True)
columns_order = [col for col in users_spend.columns if col not in ['TOTAL_SPEND', 'TOTAL_QUANTITY']] + ['TOTAL_SPEND', 'TOTAL_QUANTITY']
users_spend = users_spend[columns_order]
print(users_spend.info())
# Fill missing TOTAL_SPEND with 0
users_spend['TOTAL_SPEND'] = users_spend['TOTAL_SPEND'].fillna(0).round(2)
users_spend.to_csv("users_spend.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16037 entries, 0 to 16036
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              84 non-null     object
 1   CREATED_DATE    84 non-null     object
 2   BIRTH_DATE      84 non-null     object
 3   STATE           84 non-null     object
 4   LANGUAGE        84 non-null     object
 5   GENDER          84 non-null     object
 6   AGE             84 non-null     float64
 7   TOTAL_SPEND     16037 non-null  float64
 8   TOTAL_QUANTITY  16037 non-null  float64
dtypes: float64(3), object(6)
memory usage: 1.1+ MB
None

In [21]:
users.to_csv("cleaned_users.csv", index=False)
transactions.to_csv("cleaned_transactions.csv", index=False)
products.to_csv("cleaned_products.csv", index=False)
new_users.to_csv("new_users.csv", index=False)


print("Cleaned data saved successfully!")

Cleaned data saved successfully!